*{
    padding: 0;
    margin: 0;
    border:0;

}
body{
    background-color: #100d2b;
    max-width: 2000px;
    background-image:url(fundoimagemdicas.png);
    background-repeat: no-repeat;
    background-image: cover;
}
#header{
    background-color: #8c52ff;
}
.h1{
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
[title='container']{
display: grid;
grid-template-columns: 300px 300px 300px 300px;
grid-template-rows: 250px 250px 250px 250px;
column-gap:10px;
row-gap: 15px;
justify-content: center;
}
[title='dica']{
    background-color: #9d4edd;
}
footer{
background-color: #100d2b;

}
#rodape{
    color:#e2e3f7;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
h6{
    color:#e2e3f7;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5{
    color:#e2e3f7;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}